.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.lobby{
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  flex-wrap: wrap;
  min-height: auto;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.player{
  display: flex;
  margin-top: 0%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 350px;
  min-width: 350px;
  top: 100px;
  justify-content: space-around;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
}

.color-menu{
min-width: 250px;
min-height: 175px;
display: flex;
margin: auto;
align-items: center;
justify-content: space-between;
padding: 30px;
}

.color-select{  
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

